.Playground {
    overflow: hidden;
    background: linear-gradient(-90deg,rgba(0,0,0,.02) 1px,transparent 0),linear-gradient(rgba(0,0,0,.02) 1px,transparent 0),linear-gradient(-90deg,rgba(0,0,0,.03) 1px,transparent 0),linear-gradient(rgba(0,0,0,.03) 1px,transparent 0),linear-gradient(transparent 4px,#f5f5f5 0,#f5f5f5 97px,transparent 0),linear-gradient(-90deg,#e5e5e5 1px,transparent 0),linear-gradient(-90deg,transparent 4px,#f5f5f5 0,#f5f5f5 97px,transparent 0),linear-gradient(#e5e5e5 1px,transparent 0),#f5f5f5;
    background-size: 10px 10px,10px 10px,100px 100px,100px 100px,100px 100px,100px 100px,100px 100px,100px 100px;
    height: 100%;
    min-height: 100vh;
}

.u-card {
    box-shadow: 3px 3px 15px rgba(0,0,0,.15);
    border-radius: 6px;
    margin: 10px;
}

input.form-control, select.form-control {
    font-size: 0.8rem;
}

.glass-windows {
    overflow-y: auto;
    overflow-x: hidden;
}

.threedmodel canvas{
    margin: 10px;
    border-radius: 2px;
    transition: background-color linear 0.5s;
}
.threedmodel canvas:hover{
    background-color: #00000018;
}